{
  'ecmaFeatures': {
    'jsx': true,
    'modules': true
  },
  'env': {
    'browser': true,
    'node': true
  },
  'extends': 'airbnb',
  'parser': 'babel-eslint',
  'rules': {
    'babel/arrow-parens': 'off',
    'babel/generator-star-spacing': 'warn',
    'babel/no-await-in-loop': 'warn',
    'babel/object-shorthand': 'warn',
    'comma-dangle': ['error', 'never'],
    'import/no-extraneous-dependencies': ['error', {
      devDependencies: ["**/*.test.js", "**/*.spec.js"]
    }],
    'max-len': ['error', {
      code: 80,
      tabWidth: 2,
      ignoreUrls: true,
      ignoreComments: false,
      ignoreStrings: false,
      ignoreTemplateLiterals: true,
      ignoreTrailingComments: true
    }],
    'no-prototype-builtins': 'off',
    'quote-props': ['error', 'consistent-as-needed'],
    'quotes': ['error', 'single'],
    'react/jsx-filename-extension': 'off',
    'react/no-unused-prop-types': ['error', { skipShapeProps: true }],
    'strict': ['error', 'never']
  },
  'plugins': [
    'babel',
    'react'
  ]
}
