body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  line-height: 1.5;
}

.headroom {
  z-index: 3 !important;
}

header {
  background: #ccc;
  padding: 0.5rem 2rem;
  z-index: 3;
}

#root {
  padding-bottom: 4.5rem; /* spacing for the dashboard */
}

.input-list .input {
  background: #eee;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 2rem;
}

.input-list .input h2 {
  margin-top: 0;
}

.input-list .input:nth-child(2n) {
  background-color: #ddd;
}

.input-list .buttons button {
  background: white;
  border: 1px solid #ccc;
  cursor: pointer;
  padding: 0.5rem 1rem;
  position: relative;
}

.input-list .buttons button:active,
.input-list .buttons button:focus {
  border-color: #86bc9d;
  box-shadow: 0 0 3px 1px mediumseagreen;
  outline: none;
  z-index: 3;
}

.input-list .buttons button + button {
  margin-left: -1px;
}

.input-list .buttons button.active {
  border-color: #86bc9d;
  color: seagreen;
  z-index: 2;
}

.input-list .description {
  color: #555;
}

.dashboard {
  border-top: 1px solid white;
  bottom: 0;
  display: flex;
  line-height: 1;
  position: fixed;
  width: 100%;
  z-index: 3;
}

.dashboard .dashboard-item {
  background: #ccc;
  border-right: 1px solid white;
  color: #555;
  flex: 1;
  line-height: 1.3;
  text-align: center;
  padding: 1rem 0.5rem;
}

.dashboard .dashboard-item:last-child {
  border-right: none;
}

.dashboard .dashboard-item .value {
  color: black;
  display: block;
}
